.page__dashboard {
  width: 100vw;
}

.title__dashboard {
   display: flex;
   height: 100px;
   justify-content: center;
   align-items: center;
   font-size: 50px;
   font-weight: bold;
}

.graph__dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  margin-left: 100px;
  margin-right: 100px;
}

.tasks__dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task__dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 60vw;
  background-color: beige;
  border-radius: 25px;
  margin: 5px;
}

.task_title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.task_detail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}